{% extends 'Reseller/Home/layout_home.twig' %}
{% set title = '招商加盟 - 狐豆代理商平台' %}

{% block main_content %}
  <div class="agent-page-title">
    <h1>招商加盟</h1>
  </div>

  {{ include("/Reseller/Home/_article_list.twig") }}

  <div class="agent-backToTop" title="返回顶部" style="background-image: url(//foxdou-public-read.oss-cn-shenzhen.aliyuncs.com/agent/default/images/top.png);"></div>

{% endblock %}
