{% extends ('/Admin/Common/layout.twig') %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% set title = '系统-系统日记' %}

{% block main_content %}
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form-item" id="form">
          <div class="layui-inline">
            {{ sf.select_raw('user_id', to_options(admins, "选择用户"), {'id': 'filter_users'}) }}
          </div>
          <div class="layui-inline">
            <input name="start_time" value="" placeholder="开始日期" class="layui-input layer-date" id="start_time">
          </div>
          <div class="layui-inline">
            <input name="end_time" value="" placeholder="结束日期" class="layui-input layer-date" id="end_time">
          </div>
          <div class="layui-inline">
            <div class="layui-input-block layui-input-block-margin">
              <button type="button" class="layui-btn layuiadmin-btn-useradmin" onclick="reload_table()">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="layui-card-body">
        <table id="table" class="layui-table" lay-data="{url:'{{ path('admin_system_administration_logging_admin_operation_logs') }}', page:true, id:'table', method:'get'}" lay-filter="table">
          <thead>
          <tr>
            <th lay-data="{field:'id', width:80, align: 'center'}">ID</th>
            <th lay-data="{field:'user_name', width:120, align: 'center'}">操作人</th>
            <th lay-data="{field:'info', align: 'left'}">信息</th>
            <th lay-data="{field:'add_time', width:150, align: 'center'}">操作时间</th>
            <th lay-data="{field:'ip', width:150, align: 'center'}">操作IP</th>
            <th lay-data="{align:'center', toolbar: '#actions', width:150}">操作</th>
          </tr>
          </thead>
        </table>
        <script type="text/html" id="actions">
          <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
          <a class="layui-btn layui-btn-xs" lay-event="trace-admin">追踪管理员</a>
        </script>
      </div>
    </div>
  </div>
{% endblock %}


{% block js_end %}
  <script>
      layui.laydate.render({
          elem:   '#start_time'
          , type: 'datetime'
      });
      layui.laydate.render({
          elem:   '#end_time'
          , type: 'datetime'
      });

      layui.table.on('tool(table)', function (row) {
          var data = row.data;
          if (row.event === 'detail') { //详情
              detail(data.id, data.user_name);
          }
          if (row.event === 'trace-admin') { //追踪管理员
              trace_admin(data.id, data.user_id);
          }

      });

      function reload_table() {
          table.reload('table', {
              where: $('#form').serializeJson()
          });
      }

      function trace_admin(id, user_id) {
          var width = 1000;
          var height = window.screen.availHeight;
          var url = '{{ path("admin_system_administration_logging_trace") }}?id=' + id + '&user_id=' + user_id;
          window.open(url, '', 'scrollbars=0,width=' + width + ',height=' + height + ',top=' + (( (window.screen.availHeight) / 2 ) - (height / 2) ) + ',left=' + (( (window.screen.availWidth) / 2 ) - (width / 2)));
      }

      // 详情
      function detail(id, admin) {
          var loading = null;
          var before  = function () {
              loading = layer.load();
          };
          var error   = function (res) {
              layer.close(loading);
              nxwd.showMsg('服务器未响应，请稍后重试');
          };
          var success = function (res) {
              layer.close(loading);
              if (res.status) {
                  var str  = '<div class="box-info" style="padding: 20px;"><table class="layui-table" lay-size="sm" style="width: 100%;"><tr><td style="width: 150px;"></td><td></td></tr>';
                  var name = {
                      'id':           'ID',
                      'type':         "操作类型",
                      'subject_type': "操作对象类型",
                      'subject_id':   "操作对象ID",
                      'info':         "描述",
                      'ip':           "操作IP",
                      'add_time':     '记录时间',
                      'context':      "上下文信息"
                  };
                  str += '<tr><td style="width: 100px;"><span class="show-name">管理员</span></td><td><pre class="show-value">' + admin + '</pre></td></tr>';
                  $.each(res.data, function (k, v) {
                      str += '<tr><td style="width: 100px;"><span class="show-name">' + (name[k] || k) + '</span></td><td><pre class="show-value">' + v + '</pre</td></tr>';
                  });
                  str += '</table></div>';
                  layer.open({
                      title:   '请求详情',
                      type:    1,
                      area:    ['900px', '800px'],
                      btn:     ['确定'],
                      shadeClose: 1,
                      content: str
                  });

              }
              return false;
          };
          nxwd.ajaxRequest('{{ path("admin_system_administration_logging_operation_logs_detail") }}', 'GET', {id: id}, 'json', success, before, error);
      }

  </script>
{% endblock %}