{% extends 'Admin/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% block main_content %}
  <div class="layui-fluid" id="pass-status-log">
    <div class="layui-card">
      <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form-item" id="form">
          <div class="layui-inline">
              <input class="layui-input product-price" name="keyword" value="" placeholder="通行证搜索" type="text">
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-block">
              <input type="text" name="" class="layui-input" id="timeFrame" placeholder="">
              <input type="hidden" name="start_time" id="start_time" value="{{ 'now'|date('Y-m-d') }}">
              <input type="hidden" name="end_time" id="end_time" value="{{ 'now'|date('Y-m-d') }}">
            </div>
          </div>
          <div class="layui-inline">
            <div class="layui-input-block layui-input-block-margin">
              <button type="button" class="layui-btn layuiadmin-btn-useradmin" onclick="get_data()">查询
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="layui-card-body">
        <table id="paged-table" class="layui-table" lay-filter="paged-table">

        </table>
      </div>
    </div>
  </div>
  <script id="add_time" type="text/html">
      <%#
        var date = new Date();
        date.setTime(d.add_time*1000);
        return date.Format("yyyy-MM-dd hh:mm:ss");
      %>
  </script>
{% endblock %}

{% block js_end %}
  {% include "/Admin/User/account_status_log_js.twig" %}
{% endblock %}
