{% extends 'Admin/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% block main_content %}
  <div class="layui-fluid" id="pass-management">
    <div class="layui-card">
      <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form-item" id="form">
          <div class="layui-inline">
              <input class="layui-input product-price" name="keyword" value="" placeholder="名称搜索" type="text">
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-block">
                <input type="text" name="" class="layui-input" id="timeFrame" placeholder="">
                <input type="hidden" name="start_time" id="start_time" value="{{ 'now'|date('Y-m-d') }}">
                <input type="hidden" name="end_time" id="end_time" value="{{ 'now'|date('Y-m-d') }}">
            </div>
          </div>
          <div class="layui-inline">
            <div class="layui-input-block layui-input-block-margin">
              <button type="button" class="layui-btn layuiadmin-btn-useradmin" onclick="get_data()">查询
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="layui-card-body">
        <div style="padding: 5px 0;">
          <button class="layui-btn layuiadmin-btn-useradmin reverse-select">
            反选
          </button>
          <button class="layui-btn layuiadmin-btn-useradmin set-default">
            设为开通时默认组
          </button>
          <button class="layui-btn layuiadmin-btn-useradmin add-group">
            新增定价组
          </button>
        </div>
        <table id="paged-table" class="layui-table" lay-filter="paged-table">

        </table>
        <script type="text/html" id="actions">
             <a class="layui-btn layui-btn-success layui-btn-xs" lay-event="edit">编辑</a>
             <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
        </script>
      </div>
    </div>
  </div>
  <script id="add_time" type="text/html">
      <%#
      var date = new Date();
      date.setTime(d.add_time*1000);
      return date.Format("yyyy-MM-dd hh:mm:ss");
      %>
    </script>
{% endblock %}

{% block extra %}
  <div id="btn-add-group" style="display: none">
      <input type="hidden" id="csrf_token" name="_token" value="{{ csrf_token('admin_users_add_price_group') }}">
      <input type="hidden" id="item_id" name="item_id" value="">
      <div class="layui-form-item" style="margin-top: 30px;width:90%">
            <label class="layui-form-label">定价组名称</label>
            <div class="layui-input-block" style="margin-left: 110px">
                  <input type="text" id="group_name" name="group_name" lay-verify="required" placeholder="请输入定价组名称" autocomplete="off" class="layui-input">
              </div>
        </div>
      <div class="layui-form-item layui-form-text" style="width:90%">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block" style="margin-left: 110px">
                  <textarea id="note" name="note" placeholder="请输入备注" class="layui-textarea"></textarea>
              </div>
        </div>
      <div class="layui-form-item" style="width:90%">
            <div class="layui-input-block" style="margin-left: 110px">
                  <button class="layui-btn submit">立即提交</button>
              </div>
        </div>
  </div>
{% endblock %}

{% block js_end %}
  {% include "/Admin/User/set_price_group_js.twig" %}
{% endblock %}
