html {
	background-color: #F5F8FA;
	color: #666;
}
html, body, .layadmin-tabspage-none {
	height: 100%;
}
.layadmin-user-login {
	position: relative;
	left: 0;
	top: 0;
	padding: 110px 0;
	min-height: 100%;
	box-sizing: border-box;
}
#LAY-user-login, .layadmin-user-display-show {
	display: block!important;
}
.layadmin-user-login-main{
	width: 375px;
	margin: 0 auto;
	box-sizing: border-box;
}
.layadmin-user-login-box {
	padding: 30px;
	background-color: #fff;
}
.layadmin-user-login-header {
	padding-bottom: 0px;
	text-align: center;
}
.layadmin-user-login-header h2 {
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 30px;
	color: #000;
}
.layadmin-user-login-header p {
	font-weight: 400;
	color: #999;
}
.layadmin-user-login-body .layui-form-item {
	position: relative;
}
.layadmin-user-login-icon {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 38px;
	line-height: 36px;
	text-align: center;
	color: #d2d2d2;
}
.layadmin-user-login-body .layui-form-item .layui-input {
	padding-left: 38px;
}
.layadmin-user-login-body .layui-form-item .layui-input:focus {
	border-color: #009688!important;
}
.layadmin-user-jump-change {
	float: right;
	cursor: pointer;
}
.layadmin-link {
	color: #009688;
}
.foxdou-error-tip {
	margin-top: 5px;
	padding: 5px 10px;
	color: #FD482C;
	background-color: #fff4f4;
}

.layadmin-user-login-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 30px;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	color: rgba(0,0,0,.5);
}


/*--------------*/
.td-w5 {width: 5%;}
.td-w10 {width: 10%;}
.td-w15 {width: 15%;}
.td-w20 {width: 20%;}
.td-w25 {width: 25%;}
.td-w30 {width: 30%;}
.td-w35 {width: 35%;}
.td-w40 {width: 40%;}
.td-w45 {width: 45%;}
.td-w50 {width: 50%;}
.td-w55 {width: 55%;}
.td-w60 {width: 60%;}
.td-w65 {width: 65%;}
.td-w70 {width: 70%;}
.td-w75 {width: 75%;}
.td-w80 {width: 80%;}
.td-w95 {width: 95%;}
.td-w100 {width: 100%;}
/*--------------*/
.foxdou-table-list {
	margin: -9px -15px;
}
.foxdou-table-list .tr {
    zoom: 1;
}
.foxdou-table-list .tr:after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
	width: 0;
	height: 0;
	overflow: hidden;
}
.foxdou-table-list .td {
	float: left;
    display: block;
    box-sizing: border-box;
    padding: 9px 15px;
    line-height: 24px;
    border-left: 1px solid #E6E6E6;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}
.foxdou-table-list .td:first-child {
	border: none;
}