<style type="text/css">
  .m-wrapper{padding:10px 20px;text-align: left;}
  .m-notice-box{}
  .m-notice{padding: 25px 0;border-bottom: 1px dashed #E0E0E0;}
  .m-notice:last-child{border: none;}
  .m-notice h1{height: 40px;}
  .title{font-size: 18px;font-weight: bold;}
  .title a{color: #666666;}
  .title a:hover{color: #1AB394;}
  .info-text{font-size: 14px;color: #666666;line-height: 20px;}
  .info-text p{padding-bottom: 10px;}
  .info-foot{height:20px;line-height: 20px;color: #999999;}
  .info-foot div{display: inline-block; margin-right:40px;}
</style>

<div class="m-wrapper g-bdc">
  <div class="m-notice-box">
    {% for item in articles %}
      <div class="m-notice">
        <a href="javascript:view_article('{{ url("common_articles_view", {'id': item.id}) }}')">
          <h1 class="title">{{ item.title }}</h1>
          {% if item.abstracte is defined %}
            <div class="info-text">
              {{ item.abstracte|raw }}
            </div>
          {% endif %}
          <div class="info-foot">
            <div>发布时间：<span>{{ item.publish_time }}</span></div>
          </div>
        </a>
      </div>
    {% endfor %}

    <div id="page"></div>
  </div>
</div>

<script>
    function view_article(url) {
        var width = 1000;
        var height = window.screen.availHeight;
        window.open(url, '', 'scrollbars=0,width=' + width + ',height=' + height + ',top=' + (( (window.screen.availHeight) / 2 ) - (height / 2) ) + ',left=' + (( (window.screen.availWidth) / 2 ) - (width / 2)));
    }
</script>
