/*common.css----------------------------------------------------------------------------------------------*/
/*首页顶部导航-触发效果*/
.m-head-nav .head-nav-this{border-bottom-color: #2ca9e1;color: #2ca9e1;}
/*侧栏皮肤*/
.m-side-nav .nav-title:hover{border-right-color: #2ca9e1;}
.m-side-nav .nav-title:hover span{color: #2ca9e1;}
.m-side-nav .nav-title-this{border-right-color: #2ca9e1;color: #2ca9e1!important;}
.m-side-nav .nav-title-this span{color: #2ca9e1;}
/*右边内容页头*/
.page-head .tab-item-item .layui-this{background: #2ca9e1;}
/*主体内容分类选项卡*/
.m-tab li:hover{background: #2ca9e1;}
.m-tab .tab-this{background: #2ca9e1!important;}
.m-screen .layui-this{background: #2ca9e1;}
/*充值面额-触发效果*/
.m-denomination .denomination-this{border-color: #2ca9e1;}
.m-denomination input:focus{border-color: #2ca9e1;}
/*分页*/
.m-page-sel a{color: #2ca9e1;}
/*表格*/
table tr:hover{background:#EEEEEE;color:#666!important;}
table tr a{color: #999999;}
table th strong{color: #2ca9e1!important;}
/*皮肤*/
.s-head{background-color: #2ca9e1;}
.s-blue2{color: #666666;}
.s-orange{color: #2ca9e1;}
/*账户信息小标题颜色*/
.title-skin{border-left-color: #2ca9e1;}

/*index.css--------------------------------------------------------------------------------------------*/
/*快捷入口*/
.application-title i{color: #2ca9e1;}
.manager-item h3{color: #2ca9e1;}
.app-renewal{color: #CCCCCC;}
.m-container .more{color: #CCCCCC;}
.m-item .item-money .layui-btn{background-color: #00b279!important;}
/*最新公告*/
.pgn-lis a:hover {color: #2ca9e1!important;}
.container-title a:hover {color: #2ca9e1;}
/*我的财务-我的账户-触发颜色*/
.panel-nav-this{border-color: #2ca9e1!important;}
.panel-nav-this a{color: #2ca9e1;}



/*financial-my-account-recharge.css-----------------------------------------------------------------------*/
.pay-way-tab .pay-way-this i,.pay-way-tab .pay-way-this strong{color: #2ca9e1;}

/*font-icon.css-------------------------------------------------------------------------------------------*/
.icon-nav2{color:#2ca9e1;}


/*layui.css-----------------------------------------------------------------------------------------------*/
.layui-bg-blue {background-color: #2ca9e1!important;}
.layui-tab-brief .layui-this{color: #2ca9e1!important;}
.layui-tab-title li{color: #888888;}
.layui-tab-brief .layui-tab-more li.layui-this:after,
.layui-tab-brief .layui-this:after{border-bottom-color: #2ca9e1;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background: #2ca9e1;}

.layui-btn{background-color: #2ca9e1;}
.layui-btn-primary {background-color: #FFFFFF;}
.layui-input:focus, .layui-textarea:focus{border-color: #2ca9e1!important;}
.layui-form-select dl dd.layui-this{background-color: #2ca9e1}
.layui-form-radio i:hover, .layui-form-radioed i{color:#2ca9e1}

.problem li:hover a{color: #2ca9e1;}
.container-title{color: #2ca9e1;}
