.page-content{text-align: left;padding: 0px;}
.page-left{width: 150px;}
.page-left .page-sidenav{margin: 40px auto 30px auto;text-align: center;}
.page-left .page-sidenav li{width: 150px; line-height: 30px;margin: 5px 0;}
.page-left .page-sidenav a{display: block;}
.page-left .page-sidenav li:hover{border-right: 1px solid #7bcaea;}
.page-left .page-sidenav li:hover a{color: #7bcaea;}
.page-left .sidenav-this{border-right: 1px solid #0294e8!important;}
.page-left .sidenav-this a{color: #0294e8!important;}
.page-right{width: -moz-calc(100% - 151px);width: -webkit-calc(100% - 151px);width: calc(100% - 151px);min-height: 500px;border-left: 1px solid #E0E0E0;box-sizing: border-box;padding: 10px 15px;}
.page-breadcrumb{line-height: 24px;}
.api-book{position: relative; width: 100%;height: auto;box-sizing: border-box;border: 5px solid #ffe4d2;background: #fff8f3;padding: 30px;margin: 10px auto;}
.api-book h1{margin: 0 0 20px 0;font-size: 20px;font-weight: bold;color: #333333;}
.api-book .api-text{line-height: 40px;}
.api-book .api-text dt{float: left;width: 120px;text-align: right;margin-right: 50px;}
.api-book .api-text span{margin-right: 20px;}
.api-book .api-text a{margin: 0 10px;color: #0294E8;cursor: pointer;}
.api-book .api-sign{position: absolute;bottom: 30px;right: 150px;}
.api-book .api-sign p{line-height: 40px;}
.api-book .api-seal{position: absolute;bottom: 10px;right: 100px;width: 160px;height: 160px;background: url(img/seal.png) no-repeat;background-size: 160px;}
.api-function{}
.api-function h2{margin: 30px 0 20px 0;font-size: 20px;font-weight: bold;color: #333333;}
.api-function table td,.api-function table th{border: none;}
.api-function table{border-top: 1px solid #E0E0E0;border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;text-align: left;padding: 0 20px;margin: 10px 0;}		
.api-function table tr{border-bottom: 1px solid #E0E0E0;}
.api-function table tr:hover{background: none;}
.api-function table tr:nth-child(even){background:#FFFFFF;color: #666666;}
.api-function table th{color: #333333;font-weight: bold;padding: 0 10px;}
.layui-layer-btn{border-top: 1px solid #EEEEEE;}
.layui-layer-btn .layui-layer-btn0{border-color: #32b59a!important;background: #1E9FFF!important;}
.layui-layer-btn .layui-layer-btn0,.layui-layer-btn .layui-layer-btn1{padding: 0 30px; }
.demo-warning,.demo-app{padding: 30px; line-height: 22px; background-color: #FFFFFF; color: #777; font-weight: 300;}
.demo-warning .layui-form-label{width: 100px!important;}
.demo-app p{float: left;width: 300px; margin-left: 10px;word-wrap: break-word;}