<div class="tab-content">
    <form action="" method="post">
        <div style="margin: 50px 0 0 200px;">
            <button class="btn btn-blue">确认{{ operation[type]['name'] }}</button>
        </div>
    </form>
</div>
<div class="tab-prompt" style="box-sizing: border-box; padding: 20px;">
    <p style="color: red"><strong>注意：修改手机号后原来手机号不可作为登录帐号</strong></p>
    <p>没有收到短信校正码？</p>
    <p>1、网络通讯异常可能会造成短信丢失，请重新获取或稍后再试。</p>
    <p>2、请核实手机是否已欠费停机，或者屏蔽了系统短信。</p>
</div>
<script type="text/javascript">
    //用作提交表单数据前的数据校验
    function checkSubmit() {}//不可删除或屏蔽
</script>
