@media screen and (max-width: 1024px) {
	.foxdou-left {float: initial; width: initial;}
	.foxdou-right {float: initial; width: initial;}
	
	.foxdou-quick .quickitem li {width: 47%!important;}
	.foxdou-ysqapi .ysqapi-lis li {width: 48%!important;}
	
	/*已申请应用*/	
	.foxdou-ysqapi .ysqapi-lis .spacer {top: 37px; right: 60px;}
	.foxdou-ysqapi .ysqapi-lis .xufei {width: 30px; top: 27px;}
	
	.foxdou-account {width: 100%!important;}
	.foxdou-contact {position: initial!important; width: 100%!important; margin-top: 30px;}
	
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.foxdou-right {width: 340px;}
	.foxdou-left {width: calc(100% - 355px);}
	
	.foxdou-quick .quickitem li {width: 46%!important;}
	.foxdou-ysqapi .ysqapi-lis li {width: 48%!important;}
	/*客服*/
	.foxdou-kefu {height: auto;}
	.foxdou-kefu .info {padding-bottom: 5px;}
	.foxdou-kefu .rexian {float: initial; display: block;}
	.foxdou-kefu .zxkf { position: initial; top: initial; right: initial; display: inline-block; margin-top: 10px;}
}
@media screen and (min-width: 1281px) and (max-width:1439px) {
	.foxdou-right {width: 400px;}
	.foxdou-left {width: calc(100% - 415px);}
	
	.foxdou-quick .quickitem li {width: 47%!important;}
	.foxdou-ysqapi .ysqapi-lis li {width: 48%!important;}
}
@media screen and (min-width: 1440px) and (max-width:1919px) {
	.foxdou-right {width: 400px;}
	.foxdou-left {width: calc(100% - 415px);}
	
	.foxdou-quick .quickitem li {width: 47%!important;}
	.foxdou-ysqapi .ysqapi-lis li {width: 48.5%!important;}
}
@media screen and (min-width: 1920px) {
	.foxdou-right {width: 500px;}
	.foxdou-left {width: calc(100% - 515px);}
	
	.foxdou-quick .quickitem li {width: 48.5%!important;}
	.foxdou-ysqapi .ysqapi-lis li {width: 49%!important;}
}


}