{% extends 'Supplier/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% block main_content %}
    <div class="foxdou-row foxdou-row-notm">
        <div class="foxdou-form-row" style="margin-left: 200px;">
            <form class="layui-form layui-form-pane" action="" id="trade-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-block foxdou-select-length">
                            {{ sf.select_raw('trade_status', to_options(constant("App\\Common\\Model\\Payment\\SellCashUserLog::TRADE_STATUSES"), '全部'), {"class": "layui-input"}) }}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">时间范围</label>
                        <div class="layui-input-block">
                            <input type="text" name="" class="layui-input" id="timeFrame" placeholder="">
                            <input type="hidden" name="start_time" id="start_time" value="{{ 'now'|date('Y-m-d') }}">
                            <input type="hidden" name="end_time" id="end_time" value="{{ 'now'|date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keyword" placeholder="请输入编号搜索" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" onclick="get_data();return false;">立即查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="foxdou-table-page" style="padding: 15px;margin-left: 200px;">
            <table class="layui-table" id="trade-list-table" lay-filter="trade-list-table">

            </table>
        </div>
    </div>
    <script id="actions" type="text/html">
        <div class="layui-btn-container">
            {#<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">查看</a>#}
        </div>
    </script>
    <script id="add_time" type="text/html">
              <%#
              var date = new Date();
              date.setTime(d.add_time*1000);
              return date.Format("yyyy-MM-dd hh:mm:ss");
          %>
        </script>
    <script id="edit_time" type="text/html">
              <%#
              var date = new Date();
              date.setTime(d.edit_time*1000);
              return date.Format("yyyy-MM-dd hh:mm:ss");
          %>
        </script>
{% endblock %}

{% block extra %}

    <style type="text/css">
        /*局部样式*/
        .layadmin-td-img img {
            width: 100px;
            height: 80px;
            box-sizing: border-box;
            margin: 5px 3px;
            cursor: pointer;
        }
        .layadmin-td-img img:hover {
            border: 2px solid #5FB878;
        }
    </style>

{% endblock %}

{% block js_end %}
    {% include "/Supplier/Finance/withdraw_js.twig" %}
{% endblock %}
