.condition-tab-item{width: 100%;height: auto;box-sizing: border-box;padding: 15px;margin-top: 20px; background: #FFFFFF;}
.condition-tab{margin: 10px 0;}
.condition-tab:last-child{margin-bottom: 0;}
.condition-tab .tab-name{float: left;width: 60px;line-height: 24px;text-align: right;}
.condition-tab .tab-label{float: left;width: 1090px;height: auto;margin-left: 20px;color: #666666;}
.condition-tab .tab-label li{float: left;line-height: 24px;padding: 0 10px; margin: 0 8px 10px 8px;border: 1px solid #E0E0E0;cursor: pointer;}
.condition-tab .tab-label li:hover{border-color: #0fb5d8;color: #0fb5d8;}
.condition-tab .tab-label .tab-this{border-color: #0fb5d8;color: #FFFFFF!important;background: #0fb5d8;}

.product-list{width: 100%;height: auto;box-sizing: border-box;padding: 20px 20px 0 20px;margin: 15px 0; background: #FFFFFF;}
.product-item{float: left; width: 275px;height: 250px;box-sizing: border-box;border: 1px solid #E0E0E0;margin: 0 20px 20px 0;}
.product-item:nth-child(4n){margin-right: 0;}
.product-item:hover{border: 1px solid #0FB5D8; box-shadow: 0px 0px 8px #0FB5D8;;}
.product-item a{display: block;width: 100%;height: 100%;box-sizing: border-box;}
.product-item .p-img{float: left;display: block;width: 60px;height: 60px;margin-right: 10px;}
.product-item .p-img img{float: left; width: 100%;height: 100%;}
.product-item h1{float: left;width: 170px;height: 24px;font-size: 18px; margin-bottom: 8px;margin-top: 0;}
.product-item p{float: left;width: 170px;height: 36px;font-size: 12px;color: #999999;line-height: 18px;overflow: hidden;}
.product-item .p-price{float: left;width: 100%;text-align: center;height: 80px; line-height: 80px; background: #F5F5F5;border-bottom: 1px #E0E0E0 solid;}
.product-btn-item{float: left;width: 100%;}
.product-btn-item span{display: inline-block;width: 100px;height: 39px;line-height: 40px;text-align: center;font-size: 14px;color: #CCCCCC; border-right: 1px solid #E0E0E0;cursor: pointer;}
.product-btn-item i{font-size: 16px;margin-right: 5px;}
.product-btn-item span:hover{color: #666666;}
.product-btn-item a{display: inline-block;width: 150px;height: 40px;line-height: 40px;text-align: center;color: #01AAED;}

.product-page{padding: 20px;margin-bottom: 20px; background: #FFFFFF;text-align: center;}
