<h3>狐豆账号注册成功</h3>

<p>您好！您的狐豆账号已经注册成功，请点击下面的链接激活您的账号：</p>

{# example, assuming you have a route named "login" #}
<a href="{{ activate_url }}">马上激活账户</a>。


<p>如果您看不到上面的链接，请复制下面的地址到浏览器地址栏打开：</p>

<p>{{ activate_url }}</p>


<p>感谢您对狐豆的支持。</p>
